html{
    height: 100%;
    
}
body{
    margin: 0px;
    padding: 0px;
   
}
.counteiner {
    max-width: 1170px;
    margin: auto;
}
.par {
    max-width: 1370px;
    margin: auto;
}

img{
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}
a.nav{
    text-decoration: none;
    color: white;
}
a.nav:hover{
    padding: 10px;
    outline: white solid;
    outline-width: 1px;
}

.header {
    padding-bottom: 100px;
   
    background-color: black;
   

		&__tittle {
            padding-top: 35px;
            display: grid;
            grid-template-rows: 1fr; 
            grid-template-columns: 30% 40% 30%; 
            width: 1170px;

		}
        &__nav{
            font-size: 24px;
            font-family: 'Poiret One', cursive;
            text-align: center;
            color: white;

        }
        
        
		&__body {
            
            margin-top: 10px;
            
            grid-gap: 20px;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
            grid-template-rows: 1fr 1fr 3fr 3fr 3fr 2fr 1fr; 
            
            
            height: 800px;
            width: 1170px;
		}

		&__text {
            font-family: 'Poiret One', cursive;
            font-size: 60px;
            text-align: center;
            z-index: 2;
            padding: 20px;
            color: white;
            grid-column: 1/3; 
            grid-row: 3/5;
            
		}

		&__img {
            margin-left: 60px;
            
            grid-column: 3/7; 
            grid-row: 2/7;
            
		}

		&__contact {
            color: white;
            z-index: 2;
            grid-column: 6/7; 
            grid-row: 5/7;
            
        }
        &__bottom{
            font-size: 20px;
            display: flex;
            font-family: 'Poiret One', cursive;
            margin: 20px;
            align-items: center;

            border-radius: 25px;
            height: 50px;
            width: 50px;
            color: black;
            background-color: rgba(255, 255, 255, 0.7);
        }
        &__bottom:hover{
            background-color: rgb(255, 255, 255);
            
        }
}
a.contact{
 color: black;
 text-decoration: none;
 margin: 10px;
 
}

.parolax{
    width: 100%;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateZ(0);
    position: absolute;
}
.styleText{
    font-family: 'Rubik Mono One', sans-serif;
    color: rgb(255, 51, 0);
}
.text2header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 44px;

}
.text3header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 24px;

}
.content {
    
    
        &__body1 { 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 5fr 3fr 4000px 3fr 1400px;
        }
        
    
		&__tittle {
            padding: 40px 200px;
            z-index: 1;
            background-color: white;
            font-family: 'Poiret One', cursive;
            text-align: center;
            font-size: 68px;
            grid-column: 1/10; 
            grid-row: 1/2;
           
        }
        &__text1 {
            font-size: 24px;
            padding: 70px;
            font-family: 'Poiret One', cursive;
            grid-column: 5/10; 
            grid-row: 3/4;
            
        }
        &__text2 {
            font-size: 24px;
            padding: 45px;
            font-family: 'Poiret One', cursive;
            grid-column: 1/6; 
            grid-row: 5/6;
            
		}

		&__img1 {
            z-index: -1;
            transform: translateZ(-5px) scale(1.4);
            position: absolute;
            top: 70%;
            left: -100%;
            
            
		}
        &__img2 {
            transform: translateZ(-1px) scale(0.35);
            position: absolute;
            top: 150%;
            left: -70%;
            
            
        }







        &__img3 {
            transform: translateZ(-3px) scale(1);
            position: absolute;
            top: 630%;
            right: -100% ;
            
            
        }
        &__img4 {
            transform: translateZ(-1px) scale(0.4);
            position: absolute;
            top: 550%;
            right: -80% ;
            
        }
        &__img5 {
            transform: translateZ(-2px) scale(0.4);
            position: absolute;
            top: 730%;
            right: -30%;
            
            
		}
		
}
.gallery {
    color: white;
    background-color: rgb(122, 122, 122);
    height: 1050px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 68px;
    padding-top: 40px;
		&__body {
            color:white;
            
		}
}

.slider img{
    max-width: 500px;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: solid 1px #fff;
}

.slider .slick-dots button{
    padding: 0px;
    box-sizing: border-box;
    font-size: 0px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.slider {
   
    margin-top: 40px;
   position: relative;
    &__item {
        min-width: 0;
    }
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.footer {
    
    background-color: rgb(48, 48, 48);
    height: 450px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    
    color: white;
    padding-top: 40px;
		&__header {
             font-size: 68px;
		}

		&__body { 
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
           
        }
        &__inst{
            
            
            border-radius: 125px;
            height: 250px;
            width: 250px;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0.7);

        }
        &__mail{
            
            
            border-radius: 125px;
            height: 250px;
            width: 250px;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0.7);

        }
        &__VK{
            
            border-radius: 125px;
            height: 250px;
            width: 250px;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0.7);
        }
}
a.marg {
    font-size: 54px;
    color: black;
    text-decoration: none;
}
.buttonFoot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', cursive;
}
.buttonFoot:hover{
    background-color: rgb(255, 255, 255);
    
}





