html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.counteiner {
  max-width: 1170px;
  margin: auto;
}

.par {
  max-width: 1370px;
  margin: auto;
}

img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

a.nav {
  text-decoration: none;
  color: white;
}

a.nav:hover {
  padding: 10px;
  outline: white solid;
  outline-width: 1px;
}

.header {
  padding-bottom: 100px;
  background-color: black;
}

.header__tittle {
  padding-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  width: 1170px;
}

.header__nav {
  font-size: 24px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: white;
}

.header__body {
  margin-top: 10px;
  grid-gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr 3fr 3fr 3fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 3fr 3fr 3fr 2fr 1fr;
  height: 800px;
  width: 1170px;
}

.header__text {
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  text-align: center;
  z-index: 2;
  padding: 20px;
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.header__img {
  margin-left: 60px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
}

.header__contact {
  color: white;
  z-index: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.header__bottom {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poiret One', cursive;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.header__bottom:hover {
  background-color: white;
}

a.contact {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.parolax {
  width: 100%;
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: absolute;
}

.styleText {
  font-family: 'Rubik Mono One', sans-serif;
  color: #ff3300;
}

.text2header {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 44px;
}

.text3header {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
}

.content__body1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 5fr 3fr 4000px 3fr 1400px;
      grid-template-rows: 1fr 5fr 3fr 4000px 3fr 1400px;
}

.content__tittle {
  padding: 40px 200px;
  z-index: 1;
  background-color: white;
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 68px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.content__text1 {
  font-size: 24px;
  padding: 70px;
  font-family: 'Poiret One', cursive;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.content__text2 {
  font-size: 24px;
  padding: 45px;
  font-family: 'Poiret One', cursive;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.content__img1 {
  z-index: -1;
  -webkit-transform: translateZ(-5px) scale(1.4);
          transform: translateZ(-5px) scale(1.4);
  position: absolute;
  top: 70%;
  left: -100%;
}

.content__img2 {
  -webkit-transform: translateZ(-1px) scale(0.35);
          transform: translateZ(-1px) scale(0.35);
  position: absolute;
  top: 150%;
  left: -70%;
}

.content__img3 {
  -webkit-transform: translateZ(-3px) scale(1);
          transform: translateZ(-3px) scale(1);
  position: absolute;
  top: 630%;
  right: -100%;
}

.content__img4 {
  -webkit-transform: translateZ(-1px) scale(0.4);
          transform: translateZ(-1px) scale(0.4);
  position: absolute;
  top: 550%;
  right: -80%;
}

.content__img5 {
  -webkit-transform: translateZ(-2px) scale(0.4);
          transform: translateZ(-2px) scale(0.4);
  position: absolute;
  top: 730%;
  right: -30%;
}

.gallery {
  color: white;
  background-color: #7a7a7a;
  height: 750px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 68px;
  padding-top: 40px;
}

.gallery__body {
  color: white;
}

.sliderConteiner {
  overflow: hidden;
  background-color: pink;
}

.sliderConteiner__sliderTrak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2beb5b;
  -webkit-transition: .2s;
  transition: .2s;
}

.sliderConteiner__sliderItem {
  min-width: 200px;
  height: 100px;
}

.sliderConteiner__sliderItem:nth-child(3n+1) {
  background-color: red;
}

.sliderConteiner__sliderItem:nth-child(3n+2) {
  background-color: black;
}

.sliderConteiner__sliderItem:nth-child(3n+3) {
  background-color: green;
}

.footer {
  background-color: #303030;
  height: 450px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: white;
  padding-top: 40px;
}

.footer__header {
  font-size: 68px;
}

.footer__body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inst {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer__mail {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer__VK {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.marg {
  margin-top: 90px;
  font-size: 54px;
}

.buttonFoot {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

.buttonFoot:hover {
  background-color: white;
}

.hiden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.foto {
  width: 320px;
  height: 320px;
}

.foto:nth-child(3n+1) {
  background-color: red;
}

.foto:nth-child(3n+2) {
  background-color: black;
}

.foto:nth-child(3n+3) {
  background-color: green;
}
/*# sourceMappingURL=style.css.map */