$screen-500-min: 500px;
$screen-760-min: 760px;
$screen-990-min: 990px;
$screen-1200-min: 1200px;


$screen-760-max: 759px;
$screen-990-max: 989px;
$screen-1200-max: 1199px;



.counteiner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $screen-760-max) {
       display: block;
        
    }
}





.content {
    

}
.post {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);

		&__img {
            border-radius: 15px;
            background-color: yellow;
		}

		&__header {
            font-size: 34px;
            font-family: 'Comfortaa', cursive;
            
		}

		&__text {
            padding: 20px;
            font-family: 'Comfortaa', cursive;
		}

		&__menu {
		}

		&__button {
            font-family: 'Comfortaa', cursive;
		}
}
.leftSideBlock{
    min-height: 100%;
    min-width: 235px;

      @media (max-width: $screen-760-max) {
        display: none;
        
    }
}
.leftSide {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 235px;
    background-color: rgb(255, 255, 255);

		&__header {
            padding: 10px 0px;
            text-align: center;
            font-family: 'Comfortaa', cursive;
            font-size: 28px;
            background-color: rgb(255, 207, 134);
            @media (max-width: $screen-760-max) {
                padding: 10px 10px;
                font-size: 45px;
                
            }
		}

		&__menu {
            margin-top: 40px;
            @media (max-width: $screen-760-max) {
                display: flex;
                position: relative;
                margin-top: 0;
            }
		}

		&__button {
            font-family: 'Comfortaa', cursive;
            font-size: 16px;
            padding: 20px;
            text-align: center;
            @media (max-width: $screen-760-max) {
                padding: 0px 10px;
                margin: 0px 20px;
                font-size: 20px;
            }
        }
        @media (max-width: $screen-760-max) {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
        }
}
.rightSideBlock{
    min-height: 100%;
    min-width: 235px;
    @media (max-width: $screen-990-max) {
        display: none;
        
    }
}
.rightSide {
    min-height: 100%;
    min-width: 235px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);

		&__menu {
            
		}

		&__button {
		}

		&__contact {
        }
        
        @media (max-width: $screen-990-max) {
            display: none;
            
        }
}

















// body{
//     margin: 0;
//     background-color: rgb(150, 150, 150);
// }
// a{
//     text-decoration: none;
//     color: #000;
// }

// header{
    
//     text-align: center;
//     font-family: 'Prosto One', cursive;
//     font-size: 24px;
//     margin-top: 20px;
//     padding: 20px;
//     background-color: white;
//     border-radius: 10px;
// }
// .counteiner {
//     max-width: 970px;
//     margin: auto;
//     font-family: 'Prosto One', cursive;
// }

// .content {
//     font-family: 'Prosto One', cursive;
//     margin-top: 20px;
//     padding: 20px;
//     background-color: white;
//     border-radius: 10px;
//     &__header {
//         font-size: 34px;
//         text-align: center;

//     }

//     &__body {
//         margin-top: 20px;
//         padding: 20px;
//         border-radius: 10px;
//         background-color: rgb(150, 150, 150);
//     }
// }
// .item {
//     text-align: right;
//     margin-top: 10px;
//     padding: 10px;
//     border-radius: 10px;
//     background-color: rgb(201, 201, 201);

//     &__head {
//         font-size: 24px;
//         text-align: center;
//         padding: 10px;
//     }

//     &__body {
//         text-align: start;
//         margin-top: 10px;
//         padding: 10px;
//         border-radius: 10px;
//         background-color: rgb(201, 201, 201);

//     }
//     &__footer{
//         display: flex;
//         justify-content: space-between;
//         padding: 20px;
//         border-radius: 10px;
//         background-color: rgba(255, 255, 255, 0);

//     }
//     &__button1{ 
//         margin-top: 40px;
//         border: solid 3px rgb(201, 201, 201);
//         padding: 5px;
//         border-radius: 10px;
//         background-color: rgb(255, 255, 255);

//     }&__button2{ 
//         margin-top: 40px;
//         border: solid 3px rgb(201, 201, 201);
//         padding: 5px;
//         border-radius: 10px;
//         background-color: rgb(255, 255, 255);

//     }
//     &__button1:hover{ 
//         background-color: rgb(255, 122, 122);
//     }
//     &__button2:hover{ 
//         background-color: rgb(149, 255, 122);
//     }
    
// }
// // .item:hover{
// //     background-color: rgb(255, 255, 255);
// // }

// .footer {
//     font-family: 'Prosto One', cursive;
//     margin-top: 20px;
//     margin-bottom: 20px;
//     padding: 20px;
//     background-color: white;
//     border-radius: 10px;

//     &__head{
//         font-size: 24px;
//         text-align: center;
//     }
//     &__body{
//         margin-top: 20px;
//         display: flex;
//         justify-content: space-between;

//     }
//     &__bottom{
//         text-align: center;
//         height: 100px;
//         width: 100px;
//         background-color: rgb(150, 150, 150);
//         border-radius: 50px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
        
//     }
//     &__bottom:hover{
//         background-color: rgb(149, 255, 122);
//     }
    
// }

