$screen-500-min: 500px;
$screen-760-min: 760px;
$screen-990-min: 990px;
$screen-1200-min: 1200px;


$screen-760-max: 759px;
$screen-990-max: 989px;
$screen-1200-max: 1199px;



.counteiner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $screen-760-max) {
       display: block;
        
    }
}
.content {

    &__tittle {
        padding: 20px;
    }

    &__header {
        padding: 40px 0px 40px 0px;
        font-size: 46px;
        font-family: 'Comfortaa', cursive;
        text-align: center;
    }
}
.about {
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px;
    padding: 10px;

    &__name {
        font-family: 'Comfortaa', cursive;
        text-align: center;
        padding: 20px;
        font-size: 24px;
    }

    &__lmg {
        display: flex;
        flex-direction: column-reverse;
        width: 230px;
        height: 390px;
        background: black url(img/about.jpeg) center top no-repeat;
        background-size: cover;
        border: solid 5px rgb(238, 238, 238);
        float: right;
    }
    &__menu{
    display: flex;
    flex-wrap: wrap;
    }

    &__text {
        margin: 5px;
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(221, 221, 221);
        font-family: 'Comfortaa', cursive;


        &__style{
            background-color: rgb(193, 255, 240);
            border-radius: 5px;
            padding: 3px;
        }
    }
}


.post {
    box-sizing: border-box;
    display: block;
    
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
        &__mine{
            padding: 20px;
            overflow: hidden;
            .img1{
                width: 230px;
                height: 390px;
                background: black url(img/site1.jpg) center top no-repeat;
                shape-margin: 3px;
                shape-outside: polygon(0% 0%, 0% 100%, 70% 100%, 98% 0%);
                clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 98% 0%);
                background-size: cover;
                float: left;
            }
            .img2{
                width: 230px;
                height: 390px;
                background: black url(img/site2.jpg) center top no-repeat;
                shape-margin: 3px;
                shape-outside: polygon(60% 0%,7% 54%, 10% 90%,30% 100%, 100% 100%, 100% 0%);
                clip-path: polygon(60% 0%,7% 54%, 10% 90%,30% 100%, 100% 100%, 100% 0%);
                background-size: cover;
                float: right;
            }
        }

		&__img {
            position: relative;
            z-index: 1;
            
            border: solid 5px rgb(255, 255, 255);
		}

		&__header {
            padding: 20px;
            text-align: center;
            font-size: 34px;
            font-family: 'Comfortaa', cursive;
            
		}

		&__text {
            font-family: 'Comfortaa', cursive;
            font-size: 22px;
            line-height: 1.5;
		}

		&__menu {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            background-color: white;
            width: 100%;
            height: 45px;
            border-radius: 10px;
            
		}

		&__button {
            font-family: 'Comfortaa', cursive;
            padding: 20px;
            text-align: center;
            a{
                text-decoration: none;
                color: black;
                cursor: pointer;
                line-height: 1; 
            }
            :hover{
                text-decoration: underline;
            }
            
        }
        &__active{
            
        }
}
.leftSideBlock{
    
    min-height: 100%;
    min-width: 235px;

      @media (max-width: $screen-760-max) {
        width: 100%;
        top: 0%;
        min-height: 80px;
        
    }
}
.leftSide {
    transition: all 1s ease-in;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 235px;
    

		&__header {
            padding: 10px 0px;
            text-align: center;
            font-family: 'Comfortaa', cursive;
            font-size: 28px;
            background-color: rgb(255, 207, 134);
            transition: .5s;
            a{
                text-decoration: none;
                color: black;
            }
            @media (max-width: $screen-760-max) {
                padding: 10px 10px;
                font-size: 45px;
                
            }
            &:hover{
                background-color: rgb(255, 182, 72);
                transition: .5s;
            }
            
        }
        

		&__menu {
            margin-top: 40px;
            @media (max-width: $screen-760-max) {
                display: none;
                
            }
		}

		&__button {
            a{
                text-decoration: none;
                color: #000;
                
            }
            font-family: 'Comfortaa', cursive;
            font-size: 16px;
            padding: 20px;
            text-align: center;
            
            :hover{
                text-decoration: underline;
            }
        }
        @media (max-width: $screen-760-max) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0%;
            min-height: 80px;
        }
}
.rightSideBlock{
    min-height: 100%;
    min-width: 235px;
    @media (max-width: $screen-990-max) {
        display: none;
        
    }
}
.rightSide {
    transition: all 1s ease-in;
    z-index: 10;
    min-height: 100%;
    min-width: 235px;
    position: fixed;
    top: 0;
    right: 0;

		&__menu {
            
            
		}

		&__button {
		}

		&__contact {
        }
        
        @media (max-width: $screen-990-max) {
            display: none;
            
        }
}








body {
    transition: all 1s ease-in;
    padding: 50px;
    color: #111;
    font-family: sans-serif;
    line-height: 32px;
    font-size: 18px;
  }



  .white {
    transition: all 1s ease-in;
    background-color: white;
    color: black;
    a{
        color: black;
    }
  }
  .black {
    transition: all 1s ease-in;
    background-color: black;
    color: white;
    a{
        color: white;
    }
  }
  .blue {
    transition: all 1s ease-in;
    background-color: #edfffd;
    color: black;
    a{
        color: black;
    }
  }
  .postBlack{
    transition: all 1s ease-in;
      background-color: #333333;
      color: white;
      a{
          color: black;
      }
  }
  .postBlue{
    transition: all 1s ease-in;
      background-color: #85c5c0;
      color: black;
      a{
          color: black;
      }
  }