$screen-500-min: 500px;
$screen-760-min: 760px;
$screen-990-min: 990px;
$screen-1200-min: 1200px;


$screen-760-max: 759px;
$screen-990-max: 989px;
$screen-1200-max: 1199px;



.counteiner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $screen-760-max) {
       display: block;
        
    }
}





.content {
    

}
.post {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);

		&__img {
            border-radius: 15px;
            background-color: yellow;
		}

		&__header {
            font-size: 34px;
            font-family: 'Comfortaa', cursive;
            
		}

		&__text {
            padding: 20px;
            font-family: 'Comfortaa', cursive;
		}

		&__menu {
		}

		&__button {
            font-family: 'Comfortaa', cursive;
		}
}
.leftSideBlock{
    min-height: 100%;
    min-width: 235px;

      @media (max-width: $screen-760-max) {
        width: 100%;
        top: 0%;
        min-height: 80px;
        
    }
}
.leftSide {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 235px;
    background-color: rgb(255, 255, 255);

		&__header {
            padding: 10px 0px;
            text-align: center;
            font-family: 'Comfortaa', cursive;
            font-size: 28px;
            background-color: rgb(255, 207, 134);
            @media (max-width: $screen-760-max) {
                padding: 10px 10px;
                font-size: 45px;
                
            }
		}

		&__menu {
            margin-top: 40px;
            @media (max-width: $screen-760-max) {
                display: none;
                
            }
		}

		&__button {
            font-family: 'Comfortaa', cursive;
            font-size: 16px;
            padding: 20px;
            text-align: center;
        }
        @media (max-width: $screen-760-max) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0%;
            min-height: 80px;
        }
}
.rightSideBlock{
    min-height: 100%;
    min-width: 235px;
    @media (max-width: $screen-990-max) {
        display: none;
        
    }
}
.rightSide {
    min-height: 100%;
    min-width: 235px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);

		&__menu {
            
		}

		&__button {
		}

		&__contact {
        }
        
        @media (max-width: $screen-990-max) {
            display: none;
            
        }
}







 