.counteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 759px) {
  .counteiner {
    display: block;
  }
}

.content__tittle {
  padding: 20px;
}

.content__header {
  padding: 40px 0px 40px 0px;
  font-size: 46px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.about__name {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.about__lmg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 230px;
  height: 390px;
  background: black url(img/about.jpeg) center top no-repeat;
  background-size: cover;
  border: solid 5px #eeeeee;
  float: right;
}

.about__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__text {
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #dddddd;
  font-family: 'Comfortaa', cursive;
}

.about__text__style {
  background-color: #c1fff0;
  border-radius: 5px;
  padding: 3px;
}

.post {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #dddddd;
}

.post__mine {
  padding: 20px;
  overflow: hidden;
}

.post__mine .img1 {
  width: 230px;
  height: 390px;
  background: black url(img/site1.jpg) center top no-repeat;
  shape-margin: 3px;
  shape-outside: polygon(0% 0%, 0% 100%, 70% 100%, 98% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 98% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 98% 0%);
  background-size: cover;
  float: left;
}

.post__mine .img2 {
  width: 230px;
  height: 390px;
  background: black url(img/site2.jpg) center top no-repeat;
  shape-margin: 3px;
  shape-outside: polygon(60% 0%, 7% 54%, 10% 90%, 30% 100%, 100% 100%, 100% 0%);
  -webkit-clip-path: polygon(60% 0%, 7% 54%, 10% 90%, 30% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(60% 0%, 7% 54%, 10% 90%, 30% 100%, 100% 100%, 100% 0%);
  background-size: cover;
  float: right;
}

.post__img {
  position: relative;
  z-index: 1;
  border: solid 5px white;
}

.post__header {
  padding: 20px;
  text-align: center;
  font-size: 34px;
  font-family: 'Comfortaa', cursive;
}

.post__text {
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
  line-height: 1.5;
}

.post__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

.post__button {
  font-family: 'Comfortaa', cursive;
  padding: 20px;
  text-align: center;
}

.post__button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  line-height: 1;
}

.post__button :hover {
  text-decoration: underline;
}

.leftSideBlock {
  min-height: 100%;
  min-width: 235px;
}

@media (max-width: 759px) {
  .leftSideBlock {
    width: 100%;
    top: 0%;
    min-height: 80px;
  }
}

.leftSide {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 235px;
}

.leftSide__header {
  padding: 10px 0px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 28px;
  background-color: #ffcf86;
  -webkit-transition: .5s;
  transition: .5s;
}

.leftSide__header a {
  text-decoration: none;
  color: black;
}

@media (max-width: 759px) {
  .leftSide__header {
    padding: 10px 10px;
    font-size: 45px;
  }
}

.leftSide__header:hover {
  background-color: #ffb648;
  -webkit-transition: .5s;
  transition: .5s;
}

.leftSide__menu {
  margin-top: 40px;
}

@media (max-width: 759px) {
  .leftSide__menu {
    display: none;
  }
}

.leftSide__button {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.leftSide__button a {
  text-decoration: none;
  color: #000;
}

.leftSide__button :hover {
  text-decoration: underline;
}

@media (max-width: 759px) {
  .leftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    top: 0%;
    min-height: 80px;
  }
}

.rightSideBlock {
  min-height: 100%;
  min-width: 235px;
}

@media (max-width: 989px) {
  .rightSideBlock {
    display: none;
  }
}

.rightSide {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  z-index: 10;
  min-height: 100%;
  min-width: 235px;
  position: fixed;
  top: 0;
  right: 0;
}

@media (max-width: 989px) {
  .rightSide {
    display: none;
  }
}

body {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  padding: 50px;
  color: #111;
  font-family: sans-serif;
  line-height: 32px;
  font-size: 18px;
}

.white {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: white;
  color: black;
}

.white a {
  color: black;
}

.black {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: black;
  color: white;
}

.black a {
  color: white;
}

.blue {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: #edfffd;
  color: black;
}

.blue a {
  color: black;
}

.postBlack {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: #333333;
  color: white;
}

.postBlack a {
  color: black;
}

.postBlue {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: #85c5c0;
  color: black;
}

.postBlue a {
  color: black;
}
/*# sourceMappingURL=style.css.map */