.nameBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 48px;
}
.nameBox button {
    transition: opacity .3s;
   opacity: 0;
}
.nameBox:hover button {
    opacity: 1;
}
.name {
    cursor: pointer;
    margin: 0;
    text-align: center;
}