.bgImage1 {
  background: url(img/image4\.svg) 100% 100% no-repeat;
  background-size: cover;
  height: 100vh;
}

.counteiner {
  max-width: 1220px;
  margin: 0 auto;
}

section {
  height: 100vh;
}

section hr {
  border: 1px solid #ffffff4b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}

.header__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  padding: 18px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-right: 16px;
  color: white;
  cursor: pointer;
}

.header__menu {
  cursor: pointer;
  padding: 6px;
  min-width: 30px;
  min-height: 16px;
}

.header__menu hr {
  border: 1px solid #ffffff;
}

.graph {
  position: absolute;
  bottom: -10px;
  right: 0;
}

.mine__tittle {
  margin-top: 120px;
  font-family: Cuprum;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.mine__text {
  margin-top: 54px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 32px;
  color: white;
}

.mine__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 25px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8rem;
  width: 20rem;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
}

.rhtSide {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  color: #8A93B4;
  background-color: #0F1D4E;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rhtSide__counteiner {
  max-width: 340px;
  margin: 0 auto;
}

.rhtSide hr {
  margin: 16px 0px;
}

.rhtSide__header {
  padding: 20px 0px 12px 0px;
  font-size: 36px;
  font-family: Cuprum;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.rhtSide__close {
  position: absolute;
  right: 32px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: .7;
}

.rhtSide__close:hover {
  opacity: 1;
}

.rhtSide__close:before {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rhtSide__close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.rhtSide__button {
  padding: 16px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.rhtSide__footer {
  padding-top: 14vh;
}

.rhtSide__items {
  white-space: pre;
  padding: 8px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.rhtSide__itemsStyle {
  white-space: pre;
  color: white;
}

@media screen and (max-height: 450px) {
  .rhtSide {
    padding-top: 15px;
  }
  .rhtSide a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */