body * {
    box-sizing: border-box;
}

.bgImage1 {
    background: url(css and img/image4\.svg) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgImage2 {
    position: relative;
    background: url(css and img/image7\.svg) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.counteiner {
    max-width: 1220px;
    margin: 0 auto;
    
}
section {
    overflow: hidden;
    
    height: 100vh;
    hr{
        border: 1px solid #ffffff4b;
    }
    
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

		&__logo {
		}

		&__navigations {
            display: flex;
            justify-content: space-between;
		}

		&__nav {
            padding: 18px;
            text-transform: uppercase;
            font-family: Roboto;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-align: center;
            margin-right: 16px;
            color: rgb(255, 255, 255);
            cursor: pointer;
		}

		&__menu {
            cursor: pointer;
            padding: 6px;
            min-width: 40px;
            min-height: 16px;
            hr{
                border: 1px solid #ffffff;
            }
		}
}


.mine {
    &__tittle {
        margin-top: 120px;

            font-family: Cuprum;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;
            letter-spacing: 0em;
            text-align: left;
            color: white;

    }

    &__text {
        margin-top: 54px;

            font-family: Roboto;
            font-size: 20px;
            line-height: 32px;
            color: white;

    }
    &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 22px 25px 22px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8rem;
    width: 20rem;
    transition: .5s;
        &:hover{
            padding: 22px 16px 22px 25px;
            transition: .5s;
            background: #8A93B4;
        }
    


        font-family: Roboto;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        color: white;

 }
}

.slider{
    &__graph{
        
        position: absolute;
        bottom: -10px;
        right: 0px;
    }
    .owl-carousel {
        position: static;
        margin-top: -40px;
        margin-left: 950px;
        .owl-dots{
            :nth-child(1){
                position: absolute;
                bottom: 210px;
                right: 747px;
            }
            :nth-child(2){
                position: absolute;
                bottom: 213px;
                right: 521px;
                
            }
            :nth-child(3) {
                position: absolute;
                bottom: 389px;
                right: 303px;
            }
            :nth-child(4){
                position: absolute;
                bottom: 426px;
                right: 159px;
            }
            
        }
        @keyframes radial-pulse {
            0% {
              box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
            }
          
            100% {
              box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            }
          }
        .owl-dot{
            background-color: white;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
            &.active{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: red;
                border: solid 1px white;
                animation: radial-pulse 2s infinite;
            }
        }
        
    }
    &__items {

        color: white;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: left;
        &-Style{

            display: block;
            color: white;
            font-family: Cuprum;
            font-size: 72px;
            font-weight: 700;
            line-height: 76px;
            letter-spacing: 0.03em;
            text-align: left;

        }
    }

}


.rhtSide {
    
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    color: #8A93B4;
    background-color: #0F1D4E;
    overflow-x: hidden; 
    
    transition: 0.5s;
    &__counteiner{
        max-width: 340px;
        margin: 0 auto;
    }
    
    hr{
        margin: 16px 0px;
    }
    &__header{
        padding: 20px 0px 12px 0px;
        font-size: 36px;
        font-family: Cuprum;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;


    
    }
    &__close {
        position: absolute;
        right: 32px;
        top: 30px;
        width: 32px;
        height: 32px;
        opacity: .7;
        &:hover {
         opacity: 1;
        }
        &:before{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: rgb(255, 255, 255);
        transform: rotate(45deg);
        }
        &::after{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: rgb(255, 255, 255);
        transform: rotate(-45deg);
        }       
    }
    &__button{
        padding: 16px 0px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    &__footer{
        padding-top: 14vh;
        
    }
    &__items{
        white-space:pre;
        padding: 8px 0px;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

    }
    &__itemsStyle{
        white-space:pre;
        color: white;
    }
        
  }
  
  .sidetwo {

    &__mine {
        display: flex;
        justify-content: space-between;
        margin-top: 98px;
    }

    &__leftside {
        max-width: 45%;
    }
    &__rightside {
        max-width: 45%;
    }

    &__header {

    color: white;   
    font-family: Cuprum;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    }

    &__text {

        color: rgb(187, 187, 187);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 22px 25px 22px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8rem;
    width: 20rem;
    transition: .5s;
        &:hover{
            padding: 22px 16px 22px 25px;
            transition: .5s;
            background: #8A93B4;
        }
    


        font-family: Roboto;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        color: white;
    }

   

    &__footer {
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        margin-right: 76px;
        color: rgb(187, 187, 187);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: left;

        &Style{
            display: block;
            color: white;
            font-family: Cuprum;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 51px;
            letter-spacing: 0em;
            text-align: left;

        }
    }
}

  
 
  

  

//   @media screen and (max-height: 450px) {
//     .rhtSide {padding-top: 15px;}
//     .rhtSide a {font-size: 18px;}
//   }























.footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    


&__button{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 20px;
    background: #FFFFFF;
    opacity: 0.8;
    padding: 26px 20px 30px 30px;
    min-width: 360px;
    transition: .5s;
    border-top: 4px solid transparent;
    
    &:hover{
        padding: 26px 12px 30px 30px;
        transition: .5s;
        
        border-top: solid 4px red;
    }
    


        text-transform: uppercase;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #0f1e52 100%;


}

}