body * {
    box-sizing: border-box;
}

.bgImage1 {
    background: url(css and img/image4\.svg) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgImage2 {
    position: relative;
    background: url(css and img/image7\.svg) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.counteiner {
    max-width: 1220px;
    margin: 0 auto;
    
}
section {
    overflow: hidden;
    
    height: 100vh;
    hr{
        border: 1px solid #ffffff4b;
    }
    
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

		&__logo {
            z-index: 1;
            a{  
                position: absolute;
                width: 191.99px; 
                height: 44px;
                z-index: 4;
                cursor: pointer;
            }
		}

		&__navigations {
            display: flex;
            justify-content: space-between;
		}

		&__nav {
            padding: 18px;
            text-transform: uppercase;
            font-family: Roboto;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-align: center;
            margin-right: 16px;
            color: rgb(255, 255, 255);
            
            a{  
                z-index: 10;
                cursor: pointer;
                position: relative;
                text-decoration: none;
                    color: white;
                
            }
            a:after {
                display: block;
                position: absolute;
                bottom: -28px;
                width: 0%;
                height: 2px; 
                background-color: red; 
                content: ""; 
            }
            a:hover:after {
            width: 100%; 
            }
            a:active{
                color: red;
            }
        }
        

		&__menu {
            z-index: 10;
            cursor: pointer;
            padding: 6px;
            min-width: 40px;
            min-height: 16px;
            hr{
                border: 1px solid #ffffff;
            }
            &:active{
                hr{
                    border-color: red;
                }
            }
		}
}
.rhtSide {
    
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 12; 
    top: 0; 
    right: 0;
    color: #8A93B4;
    background-color: #0F1D4E;
    overflow-x: hidden; 
    
    transition: 0.5s;
    &__counteiner{
        max-width: 340px;
        margin: 0 auto;
    }
    a{
        position: relative;
        text-decoration: none;
        color: #8A93B4;
        &:hover{
            color: white;
        }
    }
    a:after {
        display: block;
        position: absolute;
        bottom: -10px;
        width: 0%;
        height: 2px; 
        background-color: red; 
        content: ""; 
    }
    a:hover:after {
    
	width: 100%; 
    }
    a:active{
        color: red;
    }
    hr{
        margin: 16px 0px;
    }
    &__header{
        padding: 20px 0px 12px 0px;
        font-size: 36px;
        font-family: Cuprum;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;


    
    }
    &__close {
        position: absolute;
        right: 32px;
        top: 30px;
        width: 32px;
        height: 32px;
        opacity: .7;
        &:hover {
         opacity: 1;
        }
        &:before{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: rgb(255, 255, 255);
        transform: rotate(45deg);
        }
        &::after{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: rgb(255, 255, 255);
        transform: rotate(-45deg);
        }       
    }
    &__button{
        padding: 16px 0px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    &__footer{
        padding-top: 14vh;
        
    }
    &__items{
        white-space:pre;
        padding: 8px 0px;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

    }
    &__itemsStyle{
        white-space:pre;
        color: white;
    }
        
  }

.mine {
    &__tittle {
        margin-top: 12vh;

            font-family: Cuprum;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;
            letter-spacing: 0em;
            text-align: left;
            color: white;

    }

    &__text {
        margin-top: 2vh;

            font-family: Roboto;
            font-size: 20px;
            line-height: 32px;
            color: white;

    }
    &__button {
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 22px 25px 22px 25px;
    cursor: pointer;
    font-size: 14px;
    width: 20rem;
    transition: .1s;
        &:hover{
            padding: 22px 16px 22px 25px;
            transition: .5s;
            background: #8A93B4;
        }
        &:active{
            color: red;
            transition: .1s;
            border: 1.5px solid red;
        }
    


        font-family: Roboto;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        color: white;

 }
}

.slider{
    &__graph{
        
        position: absolute;
        bottom: -10px;
        right: 0px;
    }
    .owl-carousel {
        position: static;
        margin-top: 160px;
        margin-left: 970px;
        @media screen and (max-height: 999px) {
            position: static;
            margin-top: 100px;
            margin-left: 970px;
        }
        @media screen and (max-height: 899px) {
            position: static;
            margin-top: 10px;
            margin-left: 970px;
        }
        @media screen and (max-height: 699px) {
            position: static;
            margin-top: -60px;
            margin-left: 970px;
        }
        @media screen and (max-height: 599px) {
            position: static;
            margin-top: -120px;
            margin-left: 970px;
        }
        .owl-dots{
            :nth-child(1){
                position: absolute;
                bottom: 210px;
                right: 747px;
            }
            :nth-child(2){
                position: absolute;
                bottom: 213px;
                right: 521px;
                
            }
            :nth-child(3) {
                position: absolute;
                bottom: 389px;
                right: 303px;
            }
            :nth-child(4){
                position: absolute;
                bottom: 426px;
                right: 159px;
            }
            
        }
        @keyframes radial-pulse {
            0% {
              box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
            }
          
            100% {
              box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            }
          }
        .owl-dot{
            background-color: white;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
            &.active{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: red;
                border: solid 1px white;
                animation: radial-pulse 2s infinite;
            }
        }
        
    }
    &__items {

        color: white;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: left;
        &-Style{

            display: block;
            color: white;
            font-family: Cuprum;
            font-size: 72px;
            font-weight: 700;
            line-height: 76px;
            letter-spacing: 0.03em;
            text-align: left;

        }
    }

}


.footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    


&__button{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 20px;
    background: #FFFFFF;
    opacity: 0.8;
    padding: 26px 20px 30px 30px;
    min-width: 360px;
    transition: .5s;
    border-top: 4px solid transparent;
    
    &:hover{
        padding: 26px 12px 30px 30px;
        transition: .2s;
        
        border-top: solid 4px red;
    }
    &:active{
        color: red;
        transition: .2s;

    }
    


        text-transform: uppercase;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #0f1e52 100%;


}

}


.leftSide {
    
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 12; 
    top: 0; 
    left: 0;
    color: #8A93B4;
    background-color: #ffffff;
    overflow-x: hidden; 
    
    transition: 0.5s;
    &__counteiner{
        max-width: 520px;
        margin: 0px 0px 0px 72px;
    }
    &__tittle{
        color: #0F1D4E;
        font-family: Cuprum;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 20vh;
    }
    &__text{
        color: #484848;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 10vh;

    }
    &__close {
        position: absolute;
        right: 32px;
        top: 30px;
        width: 32px;
        height: 32px;
        opacity: .7;
        &:hover {
         opacity: 1;
        }
        &:before{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: #8A93B4;
        transform: rotate(45deg);
        }
        &::after{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: #8A93B4;
        transform: rotate(-45deg);
        }       
    }
    &__button{
        cursor: pointer;
        max-width: 240px;
        color: white;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.02em;
        text-align: center;   
        background-color: #0F1D4E; 
        padding: 16px 24px;
        margin-top: 10vh;
        &:hover{
            background-color: #003879;

        }
    }  
  }
  
  .sidetwo {

    &__mine {
        display: flex;
        justify-content: space-between;
        margin-top: 12vh;
    }

    &__leftside {
        max-width: 40%;
    }
    &__rightside {
        max-width: 45%;
    }

    &__header {

    color: white;   
    font-family: Cuprum;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    }
    &__line{
        margin: 3vh 0px;
    }
    &__text {

        color: rgb(187, 187, 187);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 22px 25px 22px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8vh;
    width: 16rem;
    transition: .5s;
        &:hover{
            padding: 22px 16px 22px 25px;
            transition: .5s;
            background: #8A93B4;
        }
    


        font-family: Roboto;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        color: white;
    }

		&__slider {
            position: relative;
            overflow: hidden;
            .slick-track{
                display: flex;  
            }
            .slick-dots{
                display: flex;
                padding: 0;
                margin: 30px 0px;
                button{
                    width: 17.5px;
                    height: 2.5px;
                    font-size: 0px;
                    border: none;
                    margin-right: 9px;
                    background-color: #C4C4C4;
                    opacity: 20%;
                    
                }
                li{
                    margin: 0px 0px;
                    list-style: none;
                    &.slick-active{
                        button{
                            background-color: white;
                            opacity: 1;
                        }
                        
                    }
                }
            }
            .slick-arrow{
                position: absolute;
                top: 376px;
                right: 0px;
                font-size: 0px;
                
                
                &.slick-prev{
                    min-width: 56px;
                    min-height: 56px;
                    background: url(css and img/prev\.png) center no-repeat;
                    border: solid 1px #8A93B4;
                    right: 72px;
                    &:hover{
                        background-color: rgba(183, 216, 255, 0.13);
                        border: solid 1px rgba(183, 216, 255, 0.13);
                    }
                }
                &.slick-next{
                    min-width: 56px;
                    min-height: 56px;
                    background: url(css and img/next\.png) center no-repeat;
                    border: solid 1px #8A93B4;
                    &:hover{
                        background-color: rgba(183, 216, 255, 0.13);
                        border: solid 1px rgba(183, 216, 255, 0.13);
                    }
                }
            }
		}

		&__slide {
            
            
		}



    &__footer {
        margin-top: 4vh;
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        margin-right: 76px;
        color: rgb(187, 187, 187);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: left;

        &Style{
            display: block;
            color: white;
            font-family: Cuprum;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 51px;
            letter-spacing: 0em;
            text-align: left;

        }
    }
}

  
 
  

  

//   @media screen and (max-height: 450px) {
//     .rhtSide {padding-top: 15px;}
//     .rhtSide a {font-size: 18px;}
//   }

