.bgImage1 {
    background: url(css and img/image4\.svg) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
}

.counteiner {
    max-width: 1220px;
    margin: 0 auto;
    
}
section {
    
    height: 100vh;
    hr{
        border: 1px solid #ffffff4b;
    }
    
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

		&__logo {
		}

		&__navigations {
            display: flex;
            justify-content: space-between;
		}

		&__nav {
            padding: 18px;
            text-transform: uppercase;
            font-family: Roboto;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-align: center;
            margin-right: 16px;
            color: rgb(255, 255, 255);
            cursor: pointer;
		}

		&__menu {
            cursor: pointer;
            padding: 6px;
            min-width: 30px;
            min-height: 16px;
            hr{
                border: 1px solid #ffffff;
            }
		}
}
.graph{
    position: absolute;
    bottom: -10px;
    right: 0;
}


.mine {
    &__tittle {
        margin-top: 120px;

            font-family: Cuprum;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 92px;
            letter-spacing: 0em;
            text-align: left;
            color: white;

    }

    &__text {
        margin-top: 54px;

            font-family: Roboto;
            font-size: 20px;
            line-height: 32px;
            color: white;

    }
    &__button {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 22px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8rem;
    width: 20rem;
    


        font-family: Roboto;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        color: white;

 }
}


.rhtSide {
    
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    color: #8A93B4;
    background-color: #0F1D4E;
    overflow-x: hidden; 
    
    transition: 0.5s;
    &__counteiner{
        max-width: 340px;
        margin: 0 auto;
    }
    
    hr{
        margin: 16px 0px;
    }
    &__header{
        padding: 20px 0px 12px 0px;
        font-size: 36px;
        font-family: Cuprum;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;


    
    }
    &__close {
        position: absolute;
        right: 32px;
        top: 30px;
        width: 32px;
        height: 32px;
        opacity: .7;
        &:hover {
         opacity: 1;
        }
        &:before{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: rgb(255, 255, 255);
        transform: rotate(45deg);
        }
        &::after{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: rgb(255, 255, 255);
        transform: rotate(-45deg);
        }       
    }
    &__button{
        padding: 16px 0px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    &__footer{
        padding-top: 14vh;
        
    }
    &__items{
        white-space:pre;
        padding: 8px 0px;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

    }
    &__itemsStyle{
        white-space:pre;
        color: white;
    }
        
  }
  

  
 
  

  

  @media screen and (max-height: 450px) {
    .rhtSide {padding-top: 15px;}
    .rhtSide a {font-size: 18px;}
  }























// // &__graph {
// //     top: 10%;
// //     right: 0px;
// //     position: absolute;
// //     background: #FFFFFF;
// //     opacity: 0.1;
// //     border: 1px solid #FFFFFF;
// //     width: 132vh;
// //     height: 90vh;
// //     clip-path: polygon(70% 43%, 85% 38%, 100% 0, 100% 100%, 0 100%, 0 90%, 29% 70%, 50% 67%);
// // }
// &__footerButtons {
//     display: flex;
//     justify-content: space-between;
//     position: relative;
    
// }

// &__footerButton {
//     margin-top: 15%;
//     background: #FFFFFF;
//     opacity: 0.8;
//     padding: 25px 20px;
//     min-width: 340px;

//     &:hover{
//         border-top: solid 4px red;
//         margin-top: 14.5%;
//         opacity: 1;
//     }
    


//         text-transform: uppercase;
//         font-family: Roboto;
//         font-size: 14px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 18px;
//         letter-spacing: 0.04em;
//         text-align: left;
//         color: #0f1e52 100%;


// }