
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 16px 0 16px;
    padding: 16px;
    width: 100%;

}

.input {
    width: 100%;
}
.h2 {
    margin: 6px;
}
.p {
    margin: 0;
}

.avatarMine {
    width: 40px;
    height: 40px;
}










.main {
    display: flex;
    justify-content: center;
}
.MyProfile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}
.Paper {
    width: 100%;
}
.modal {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.registration {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 540px !important;
}



.avatar {
    object-fit: contain;
    margin-right: 14px;
}
.avatar img {
    width: 40px;
    height: 40px;
}
.avatarEdit {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

}
.avatarEdit:hover {
    transition: opacity .3s;
    opacity: 1;
}
.avatarBox {
    position: absolute;
}

.name {
    text-transform: none !important;
}