
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 16px 0 16px;
    padding: 16px;
    width: 100%;

}

.input {
    width: 100%;
}
.h2 {
    margin: 6px;
}
.p {
    margin: 0;
}












.modal {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.registration {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}